/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        vol_up {
            bindings = <&kp C_VOLUME_UP>;
            key-positions = <16 17>;
            layers = <0 6>;
        };

        vol_down {
            bindings = <&kp C_VOL_DN>;
            key-positions = <29 28>;
            layers = <0 6>;
        };

        next_track {
            bindings = <&kp C_NEXT>;
            key-positions = <4 5>;
            layers = <0 6>;
        };

        prev_track {
            bindings = <&kp C_PREVIOUS>;
            key-positions = <3 4>;
            layers = <0 6>;
        };

        play_pause {
            bindings = <&kp C_PLAY_PAUSE>;
            key-positions = <3 4 5>;
            layers = <0 6>;
        };

        mute {
            bindings = <&kp C_MUTE>;
            key-positions = <29 27 28>;
            layers = <0 6>;
        };

        gaming_toggle {
            bindings = <&tog 4>;
            key-positions = <38 37 36>;
            layers = <4 0>;
        };

        qwerty_toggle {
            bindings = <&tog 6>;
            key-positions = <39 40 41>;
            layers = <0 6>;
        };

        reset {
            bindings = <&sys_reset>;
            key-positions = <39 40 41 38 37 36 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | ENTR |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   | ./, | '/" |  /* | EQU |
            //                    | GUI | LWR | SPC |   | SPC | L2   | L1  |

            bindings = <
&kp ESCAPE      &kp Q  &kp W  &kp F     &kp P  &kp B        &kp J      &kp L  &kp U         &kp Y    &kp SEMI  &kp BSPC
&kp LEFT_SHIFT  &kp A  &kp R  &kp S     &kp T  &kp G        &kp M      &kp N  &kp E         &kp I    &kp O     &kp APOS
&kp LCTRL       &kp Z  &kp X  &kp C     &kp D  &kp V        &kp K      &kp H  &kp COMMA     &kp DOT  &kp FSLH  &kp TAB
                              &kp LGUI  &mo 1  &kp SPACE    &kp ENTER  &mo 2  &kp LEFT_ALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // | SYSR |     |     |     |     |     |   |     |  1  |  2  |  3  |  0  |      |
            // |      |     |     | UP  |     |     |   |     |  4  |  5  |  6  |     |      |
            // |      |     | LFT | DWN | RGT |     |   |     |  7  |  8  |  9  |     |      |
            //                    |     |     | SPC |   | SPC |     |     |

            bindings = <
&trans  &kp TILDE      &kp EXCL     &kp AT      &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &kp PLUS   &kp N7        &kp N8        &kp N9        &kp ASTRK  &trans
&trans  &kp GRAVE      &kp HASH     &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp MINUS  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SLASH  &trans
&trans  &kp BACKSLASH  &kp PERCENT  &kp AMPS    &kp LEFT_BRACE        &kp RIGHT_BRACE          &kp N0     &kp N1        &kp N2        &kp N3        &kp EQUAL  &trans
                                    &trans      &trans                &trans                   &trans     &trans        &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &msc SCRL_UP    &mkp RCLK       &mmv MOVE_UP    &mkp LCLK        &kp PAGE_UP      &kp PAGE_UP    &none           &kp UP_ARROW    &none      &kp HOME  &trans
&trans  &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp PAGE_DOWN    &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &kp END   &trans
&trans  &none           &msc SCRL_LEFT  &mkp MCLK       &msc SCRL_RIGHT  &none            &none          &none           &none           &none      &none     &trans
                                        &trans          &trans           &trans           &trans         &trans          &trans
            >;
        };

        both {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6             &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12            &out OUT_TOG  &none         &none         &none         &none         &studio_unlock
&none   &none   &none   &none    &none    &kp PRINTSCREEN    &none         &none         &none         &none         &none         &none
                        &none    &none    &none              &none         &none         &none
            >;
        };

        gaming_default {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E         &kp R  &kp T        &kp COMMA  &kp N7    &kp N8    &kp N9  &kp MINUS  &kp EQUAL
&kp LSHFT  &kp A  &kp S  &kp D         &kp F  &kp G        &kp DOT    &kp N4    &kp N5    &kp N6  &kp LBKT   &kp RBKT
&kp LCTRL  &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N0     &kp N1    &kp N2    &kp N3  &kp SEMI   &kp APOS
                         &kp LEFT_ALT  &mo 5  &kp SPACE    &kp ENTER  &kp BSPC  &kp FSLH
            >;
        };

        gaming_lower {
            bindings = <
&kp TAB   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &trans  &trans  &trans  &trans  &trans  &trans
&kp BSLH  &kp H         &kp J         &kp K         &kp L         &kp P     &trans  &trans  &trans  &trans  &trans  &trans
&kp Y     &kp U         &kp I         &kp O         &kp N         &kp M     &trans  &trans  &trans  &trans  &trans  &trans
                                      &kp F5        &trans        &kp F9    &trans  &trans  &trans
            >;
        };

        qwerty {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LSHFT  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp APOS
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp TAB
                         &kp LGUI  &mo 1  &kp SPACE    &kp ENTER  &mo 2  &kp LALT
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        both {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

//For new Layers
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     |     |
